<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="icon" href="{% static 'assets/icon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.2.1/css/all.css">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/folder.css' %}">

</head>

<body onload="getAllProjectsByUser({{folder_user.id}})">
    <!-- Nav Bar -->
    <div class="nav">
        <a href="/TrixEx.com/home" class="logo">
            <i class="fa-solid fa-code"></i>
        </a>
        <!-- <form action="/">
            <input type="search">
            <button type="submit">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form> -->
        <div class="icons">
            <a href="/TrixEx.com/home" class="icon">
                <i class="fa-solid fa-house "></i>
                <p class="">Home</p>
            </a>
            <a href="/TrixEx.com/folder{{user.id}}/{{user.username}}" class="icon">
                {% if user.id == folder_user.id %}
                <i class="fa-regular fa-folder-open selected"></i>
                <p class="selected">Folder</p>
                {% endif %}
                {% if user.id != folder_user.id %}
                <i class="fa-regular fa-folder-open"></i>
                <p class="">Folder</p>
                {% endif %}
            </a>
            <a href="/TrixEx.com/bookmarks" class="icon">
                <i class="fa-solid fa-bookmark"></i>
                <p>Saved</p>
            </a>
            <a href="/TrixEx.com/create" class="icon">
                <i class="fa-solid fa-cloud-arrow-up"></i>
                <p>Create</p>
            </a>
        </div>
        <div class="username">
            <p class="welcome"><span class="dark">Welcome,</span> <a href="" class="blue">{{user.username}}</a></p>
            <a href="/TrixEx.com/logout" class="icon">
                <i class="fa-solid fa-right-from-bracket"></i>
                <!-- <p>Logout</p> -->
            </a>
        </div>
    </div>

    <div class="folder flex">
        <div class="user-card">
            <div class="icon">
                <i class="fa-solid fa-icons"></i>
                {% if user.id == folder_user.id %}
                <input id="file-upload" type="file" accept="image/" style="display: none;">
                    <label for="file-upload">
                        <p class="blue upload-link">Upload Img</p>
                    </label>
                {% endif %}
            </div>
            <div>
                <p class="username">{{folder_user.username}}</p>
                <div class="follows vCenter">
                    <i class="fa-solid fa-users"></i>
                    <p><span class="follower-count" data-follower-count="{{folder_user.followers.count}}">{{folder_user.followers.count}}</span> followers</p>
                    {% if user.id != folder_user.id %}
                    {% if folder_user.id in following_userIds_set %}
                    <div class="follow-button flex" onclick="toggleFollow({{folder_user.id}})">
                        <i class="fa-solid fa-user-plus green hide" data-is-following="1"></i>
                        <p class="follow disabled">Unfollow</p>
                    </div>
                    {% endif %}
                    {% if folder_user.id not in following_userIds_set %}
                    <div class="follow-button flex" onclick="toggleFollow({{folder_user.id}})">
                        <i class="fa-solid fa-user-plus green" data-is-following="0"></i>
                        <p class="follow green">Follow</p>
                    </div>
                    {% endif %}
                    {% endif %}
                    {% if user.id == folder_user.id %}
                    <div class="follow-button flex">
                        <i class="fa-solid fa-user-plus green disabled"></i>
                        <p class="follow green disabled">Follow</p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="motto">
            <form action="/TrixEx.com/update/motto" method="POST">
                {% csrf_token %}
                <p class="current-motto">{{folder_user.motto}}</p>
                <textarea name="motto" class="motto-input" cols="30" rows="10" maxlength="45">{{user.motto}}</textarea>
                {% if user.id == folder_user.id %}
                <p class="blue edit-button" onclick="showInput(this)">Edit</p>
                {% endif %}
                <div class="flex save-button">
                    <button class="submit-button" type="submit">Save </button>
                    <button class="cancel-button" type="button" onclick="hideInput()">Cancel</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Projects -->
    <!-- Folder user's projects -->
    {% if user.id != folder_user.id %}
    <div class="projects">
        {% for project in projects %}
        <div class="project">
            <iframe data-project-id="{{project.id}}"></iframe>
            <div class="icon-bar vCenter">
                {% if project.id in bookmarked_projectIds_set %}
                <i class="fa-solid fa-bookmark selected" data-bookmark-projectId="{{project.id}}" data-is-bookmarked="1"
                onclick="toggleBookmark({{project.id}})"></i>
                {% endif %}
                {% if project.id not in bookmarked_projectIds_set %}
                <i class="fa-regular fa-bookmark" data-bookmark-projectId="{{project.id}}" data-is-bookmarked="0"
                onclick="toggleBookmark({{project.id}})"></i>
                {% endif %}
                {% if project.id in liked_projectIds_set %}
                <i class="fa-solid fa-thumbs-up" data-like-projectId="{{project.id}}" data-is-liked="1"
                onclick="toggleLike({{project.id}})"></i>
                {% endif %}
                {% if project.id not in liked_projectIds_set %}
                <i class="fa-regular fa-thumbs-up" data-like-projectId="{{project.id}}" data-is-liked="0"
                onclick="toggleLike({{project.id}})"></i>
                {% endif %}
                <a href="/TrixEx.com/view/{{project.id}}">{{project.title}}</a>
                <a href="/TrixEx.com/view/{{project.id}}" class="link">View Code <i class="fa-solid fa-angles-right green"></i></a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    
    <!-- Own Projects -->
    {% if user.id == folder_user.id %}
    <div class="projects">
        <div class="project">
            <a href="/TrixEx.com/create">
                <div class="create-button">
                    <i class="fa-solid fa-plus"></i>
                    <p class="blue">Create</p>
                    <p class="dark">New Project</p>
                </div>
            </a>
        </div>
        {% for project in projects %}
        <div class="project">
            <iframe data-project-id="{{project.id}}"></iframe>
            <div class="icon-bar vCenter">
                <i class="fa-solid fa-ellipsis blue" onclick="showSelect({{project.id}})"></i>
                {% if project.is_public == 0 %}
                <i class="fa-solid fa-eye-slash" data-private-icon-projectId="{{project.id}}"></i>
                {% endif %}
                {% if project.is_public == 1 %}
                <i class="fa-solid fa-eye-slash hide" data-private-icon-projectId="{{project.id}}"></i>
                {% endif %}
                <a href="/TrixEx.com/view/{{project.id}}">{{project.title}}</a>
                <a href="/TrixEx.com/view/{{project.id}}" class="link">View Code <i class="fa-solid fa-angles-right green"></i></a>
            </div>
            <div class="select-menu hide" data-select-menu-projectId="{{project.id}}">
                <a href="/TrixEx.com/edit/{{project.id}}" class="flex option">
                    <i class="fa-solid fa-pen"></i>
                    <p>Edit</p>
                </a>
                {% if project.is_public == 1 %}
                <div class="flex option" data-private-button-projectId="{{project.id}}" onclick="makePrivate({{project.id}})">
                    <i class="fa-solid fa-eye-slash"></i>
                    <p>Make Private</p>
                </div>
                <div class="flex option hide" data-public-button-projectId="{{project.id}}" onclick="makePublic({{project.id}})">
                    <i class="fa-solid fa-eye"></i>
                    <p>Make Public</p>
                </div>
                {% endif %}
                {% if project.is_public == 0 %}
                <div class="flex option hide" data-private-button-projectId="{{project.id}}" onclick="makePrivate({{project.id}})">
                    <i class="fa-solid fa-eye-slash"></i>
                    <p>Make Private</p>
                </div>
                <div class="flex option" data-public-button-projectId="{{project.id}}" onclick="makePublic({{project.id}})">
                    <i class="fa-solid fa-eye"></i>
                    <p>Make Public</p>
                </div>
                {% endif %}
                <div class="flex option" onclick="hideSelect({{project.id}}); showConfirmDelete({{project.id}})">
                    <i class="fa-solid fa-trash"></i>
                    <p>Delete</p>
                </div>
                <div class="flex option" onclick="hideSelect({{project.id}})">
                    <i class="fa-solid fa-xmark"></i>
                    <p>Cancel</p>
                </div>
            </div>
            <div class="confirm-delete hide" data-confirm-delete-projectId="{{project.id}}">
                <div class="warning">
                    <p class="warning-text">Are you sure you want to <span class="red">DELETE</span> this project?</p>
                    <div class="flex buttons">
                        <a href="/TrixEx.com/delete/project/{{project.id}}" class="dark hover">Delete</a>
                        <p onclick="hideConfirmDelete({{project.id}})">Cancel</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <!-- Footer -->
    <div class="foot vCenter">
        <div>
            <div class="flex vCenter group">
                <i class="fa-brands fa-linkedin"></i>
                <p>Connect with us</p>
            </div>
            <p class="link"><a class="orange" href="">Follow</a> us on LinkedIn</p>
        </div>
        <div>
            <div class="flex vCenter group">
                <i class="fa-solid fa-envelope"></i>
                <p>Support</p>
            </div>
            <p class="link"><a class="orange" href="">Report</a> an issue</p>
        </div>
        <div>
            <div class="flex vCenter group">
                <i class="fa-brands fa-github"></i>
                <p>Source Code</p>
            </div>
            <p class="link"><a class="orange" href="">Github</a> or it didn't happen</p>
        </div>
        <p class="copyright">© 2024 TrixEx</p>
    </div>
    <script src="{% static 'js/folder.js' %}"></script>
</body>

</html>