.editor-display{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    width: 40vw;
    height: 100vh;
    border-left: 1px solid #ffffff10;
}

/* Height must be the same as in the js file otherwise
the scroll bar doesnt hide */
.html, .css, .js{
    height: calc(100vh / 3);
    overflow: hidden;
}
.editor-display p{
    font-weight: 800;
    background-color: black;
    border-top: 1px solid #ffffff20;
    padding-left: 1vw;
    /* font-size: 1.25rem; */
}
.html p{
    color: #ff8f8f;
}
.css p{
    color: #a7e5ff;
}
.js p{
    color: #fff6a2;
}
.editor-display textarea{
    width: 100%;
}