.editor-display{
    position: fixed;
    top: 0;
    right: -2vw;
    z-index: 1;
    width: 42vw;
    height: 100vh;
    border-left: 1px solid #ffffff10;
}

/* Height must be the same as in the js file otherwise
the scroll bar doesnt hide */
.html, .css, .js{
    height: calc(100vh / 3);
    overflow: hidden;
}
.editor-display p{
    font-weight: 800;
    border-top: 1px solid #ffffff20;
    /* background-color: black; */
    padding-left: 1vw;
}
.html p{
    color: #ff8f8f;
}
.css p{
    color: #a7e5ff;
}
.js p{
    color: #fff6a2;
}
.editor-display textarea{
    width: 100%;
}

/* Screen */
#screen{
    position: absolute;
    top: 8vw;
    left: 2.5vw;
    width: 55vw;
    height: 30vw;
    border: 1px solid #ffffff10;
}