/* Footer */
body{
    padding-bottom: 8.5vw;
}
.foot{
    position: absolute;
    bottom: 0;
    left: 0;
}

.folder{
    width: 92vw;
    height: 10vw;
    margin-top: 10vw;
    margin-left: 4vw;
}
.folder .user-card{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 28vw;
    border: 1px solid #ffffff10;
    background-color: #ffffff03;
    border-radius: 1vw;
    box-shadow: 0.25vw 0.25vw 1vw #000;
}
.folder .icon{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.folder .user-card i{
    font-size: 4rem;
}
.folder .upload-link{
    font-size: 0.8rem;
    cursor: pointer;
    margin-top: 1vw;
}
.folder .username{
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 1vw;
}
.folder .follows{
    font-size: 0.8rem;
    font-weight: 300;
}
.folder .follows i{
    font-size: 1rem;
}
.folder .fa-users{
    margin-right: 0.25vw;
}
.folder .follow-button{
    width: 4.5vw;
    background-color: #ffffff07;
    border: 1px solid #ffffff10;
    border-radius: 5vw;
    padding: 0.35vw .75vw;
    margin-left: 1vw;
    cursor: pointer;
}
.folder .follow{
    font-weight: 500;
    margin-left: 0.25vw;
}
.folder .disabled{
    opacity: 0.4;
}
.folder .hide{
    display: none;
}
.folder .motto{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 55vw;
    font-size: 3.5rem;
    font-weight: 700;
    margin-left: 4vw;
    line-height: 4vw;
    letter-spacing: 0;
}
.folder .current-motto{
    opacity: 0.4;
}
.folder .edit-button{
    position: absolute;
    bottom: -3vw;
    font-size: 0.8rem;
    font-weight: 500;
    opacity: 1.0;
    cursor: pointer;
}
.folder textarea{
    display: none;
    width: 55vw;
    height: 8vw;
    font-size: 3.5rem;
    font-weight: 700;
    resize: none;
    font-family: 'Open Sans', sans-serif;
    line-height: 4vw;
    letter-spacing: 0;
    padding-bottom: -2vw;
    overflow-y: hidden;
    color: #ffffff;
    opacity: 0.85;
    background-color: transparent;
    border: none;
    border-radius: 0.5vw;
    outline: none;
}
.folder .save-button{
    display: none;
    position: absolute;
    width: 20vw;
    bottom: -3vw;
    font-size: 0.8rem;
}
.folder .motto button{
    background-color: transparent;
    border: none;
    outline: line;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 0.8rem;
}
.folder .motto .submit-button{
    color: #218bff;
}
.folder .cancel-button{
    width: 3vw;
    margin-left: 1vw;
    color: #ffffff;
    opacity: 0.4;
}


/* Projects */
.projects{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5vw;
    margin-left: 3.5vw;
}
.projects .create-button{
    text-align: center;
    width: 28vw;
    height: 15.75vw;
    border: 1px solid #ffffff20;
    box-shadow: 0.25vw 0.25vw 1vw #000;
    border-radius: 3vw;
    font-weight: 700;
}
.projects .create-button :nth-child(1){
    position: relative;
    top: 2vw;
    left: 6vw;
    font-size: 3rem;
}
.projects .create-button :nth-child(2){
    font-size: 5rem;
    letter-spacing: 0;
}
.projects .create-button :nth-child(3){
    font-size: 1.75rem;
    margin-top: -0.5vw;
}

.project{
    position: relative;
    width: 28vw;
    height: 18.5vw;
    margin-right: 3.5vw;
    margin-bottom: 3vw;
}
iframe{
    width: 28vw;
    height: 15.75vw;
    border: 1px solid #ffffff20;
    box-shadow: 0.25vw 0.25vw 1vw;
    border-radius: 3vw;
}
iframe:hover{
    transform-origin: bottom;
    transform: scale(1.05) ;
    transition: transform 0.2s ease;
}
.project .icon-bar{
    position: relative;
    font-weight: 600;
    margin-top: 0.5vw;
    padding-left: 1vw;
    font-size: 1rem;
    letter-spacing: 0;
}
.projects i{
    margin-right: 1vw;
    cursor: pointer;
}
.projects .fa-bookmark{
    font-size: 1.7rem;
    color: #218bff;
    opacity: 0.4;
}
.projects .fa-thumbs-up{
    font-size: 1.5rem;
    color: #ffffff;
    opacity: 0.85;
}
.projects .selected{
    opacity: 1;
}
.projects .icon-bar .fa-eye-slash{
    font-size: 1.25rem;
    color: #ff8f8f;
    cursor: auto;
}
.projects .fa-ellipsis{
    font-size: 2rem;
}
.projects .link{
    position: absolute;
    right: 0vw;
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 0.05vw;
}
.project .select-menu{
    position: absolute;
    bottom: 2vw;
    left: -1vw;
    width: 11vw;
    height: 8vw;
    background-color: #0d1117;
    border: 1px solid #ffffff10;
    border-radius: 0.5vw;
    box-shadow: 0.25vw 0.25vw 1vw #000;
}
.project .option{
    height: 2vw;
    padding-left: 1vw;
    cursor: pointer;
}
.project .option:hover{
    background-color: #ffffff10;
}
.project .option p{
    display: flex;
    align-items: center;
}
.project .select-menu i{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1vw;
}

.confirm-delete{
    position: absolute;
    top: 0;
    width: 28vw;
    height: 15.75vw;
    background-color: #0d1117;
    border: 1px solid #ffffff30;
    border-radius: 3vw;
    opacity: 0.97;
}
.warning{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.confirm-delete .warning-text{
    font-weight: 500;
}
.confirm-delete .buttons{
    gap: 1vw;
    margin-top: 2vw;
    cursor: pointer;
}

/* Mobile */
@media (max-width: 600px) {
    .mobile-alert{
        display: block;
    }
    .nav {
        height: 10vw;
    }
    .nav form{
        display: none;
    }
    .nav .folder-icon,
    .nav .create-icon,
    .nav .logout-icon{
        display: none;
    }
    .nav .username{
        display: none;
    }
    .nav .icons p{
        display: none;
    }
    .nav .icons .icon{
        margin-right: 2vw;
    }
    .nav i{
        font-size: 4rem;
    }
    .nav .icon i{
        font-size: 4rem;
    }
    .nav .icon p{
        font-size: 2rem;
    }
    .mobile-alert{
        position: absolute;
        top: -10vw;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #0d1117;
    }
    .mobile-alert .header{
        font-size: 10rem;
        font-weight: 700;
        margin-top: 20vw;
        margin-left: 5vw;
    }
    .mobile-alert .header2{
        font-size: 5rem;
        font-weight: 500;
        opacity: 0.4;
        margin-left: 5vw;
    }
    .mobile-alert .logo .logo{
        font-size: 10rem;
        font-weight: 800;
        margin-left: 5vw;
        margin-top: 5vw;
    }
    .mobile-alert .fa-code{
        font-size: 8rem;
        margin-top: 7vw;
    }
}
