/* global.css */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
}

html{
    font-size: 1vw;
}

body{
    position: relative;
    top: 0;
    left: 0;
    min-height: 100vh;
    background-color: #0d1117;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    letter-spacing: 0.05vw;
}

p{
    color: #ffffff;
    opacity: 95%;
}

a{
    color: #ffffff;
    opacity: 95%;
    text-decoration: none;
}

i{
    color: #ffffff;
    opacity: 95%;
}
button{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    letter-spacing: 0.05vw;
}
.dark{
    opacity: 0.4;
}
.green{
    color: #3fb950;
}
.blue{
    color: #218bff;
}
.orange{
    color: #ff8600;
}
.relative{
    position: relative;
}
.flex{
    display: flex;
}
.vCenter{
    display: flex;
    align-items: center;
}
.hCenter{
    display: flex;
    justify-content: center;
}
button:hover{
    cursor: pointer;
}

/* Nav */
.nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 6vw;
    box-shadow: 5px 5px 10px black;
    background-color: #0d1117;
}
.nav .logo{
    font-size: 2rem;
    margin-left: 2vw;
}
.nav form{
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 2vw;
}
.nav input{
    height: 2.75vw;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    letter-spacing: 0.025vw;
    outline: none;
    background-color: #ffffff07;
    border: 1px solid #ffffff20;
    border-radius: 10vw;
    color: #ffffff;
    padding-left: 3vw;
}
.nav button{
    position: absolute;
    left: 1vw;
    background-color: #0d1117;
    font-size: 1.5rem;
    outline: none;
    border: none;
}
.nav button i{
    color: #ffffff;
    opacity: 0.1;
}
.nav .icons{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 2vw;
    font-weight: 300;
}
.nav .icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.nav .icon i{
    font-size: 1.75rem;
    margin-bottom: 0.5vw;
    color: #218bff;
    opacity: 0.4;
}
.nav .selected{
    opacity: 1.0 !important;
}
.nav .icon p{
    font-size: 0.8rem;
    opacity: 0.4;
}
.nav .username{
    position: absolute;
    display: flex;
    align-items: center;
    right: 2vw;
    display: flex;
}
.nav .welcome{
    margin-right: 2vw;
    font-size: 1.25rem;
    font-weight: 500;
}
.nav .welcome a{
    font-size: 1.5rem;
    font-weight: 700;
}
.nav .username i{
    color: #ffffff;
    opacity: 0.4;
}


/* Footer */
.foot{
    width: 100vw;
    height: 8.5vw;
    font-weight: 600;   
    background-image: linear-gradient(#ffffff07, #0d1117);
    gap: 4vw;
    padding-left: 8vw;
}
.foot .group{
    font-size: 1.7rem; 
    letter-spacing: 0;
    opacity: 0.4;
    margin-bottom: 1vw;
}
.foot .group i{
    font-size: 2rem;
    margin-right: 0.8vw;
}
.foot .link{
    font-size: 1.1rem;
}
.foot .copyright{
    opacity: 0.4;
    margin-left: 20vw;
}
