/* Footer */
body{
    padding-bottom: 5vw;
}
.foot{
    position: absolute;
    bottom: 0;
    left: 0;
}

/* Projects */
.projects{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 43vw;
    margin-top: 6.5vw;
    transition: margin-left 0.5s ease;
}
.project{
    box-sizing: border-box;
    text-align: end;
    width: 31vw;
    margin-top: 2vw;
}

iframe{
    width: 28vw;
    height: 15.75vw;
    border: 1px solid #ffffff20;
    box-shadow: 0.25vw 0.25vw 1vw;
    border-radius: 3vw;
}
iframe:hover{
    transform-origin: bottom;
    transform: scale(1.05) ;
    transition: transform 0.2s ease;
}

.project .icon-bar{
    position: relative;
    font-weight: 600;
    margin-top: 0.5vw;
    padding-left: 5vw;
    font-size: 1rem;
    letter-spacing: 0;
}
.projects i{
    margin-right: 1vw;
    cursor: pointer;
}
.projects .fa-bookmark{
    font-size: 1.7rem;
    color: #218bff;
    opacity: 0.4;
}
.projects .fa-thumbs-up{
    font-size: 1.5rem;
    color: #ffffff;
    opacity: 0.85;
}
.projects .selected{
    opacity: 1;
}
.projects .link{
    position: absolute;
    right: 0;
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 0.05vw;
}
.carousel-left-button,
.carousel-right-button{
    position: fixed;
    top: 50%;
    width: 5vw;
    height: 5vw;
    background-color: transparent;
    background-image: radial-gradient(#ffffff10, #0d111750);
    border-radius: 50%;
    outline: none;
    border: none;
    font-size: 2.25rem;
}
.carousel-left-button{
    left: 0;
    opacity: 0.3;
}
.carousel-right-button{
    right: 0;
}

/* Mobile */
@media (max-width: 600px) {
    .nav {
        height: 10vw;
    }
    .nav form{
        display: none;
    }
    .nav .folder-icon,
    .nav .create-icon,
    .nav .logout-icon{
        display: none;
    }
    .nav .welcome{
        display: none;
    }
    .nav .icons p{
        display: none;
    }
    .nav .icons .icon{
        margin-right: 2vw;
    }
    .nav i{
        font-size: 4rem;
    }
    .nav .icon i{
        font-size: 4rem;
    }
    .nav .icon p{
        font-size: 2rem;
    }

    .projects{
        flex-wrap: unset;
        margin-top: 10vw;
    }
    .project{
        margin-top: 0;
    }
    iframe{
        border-radius: 0;
        width: 100vw;
        height: 56.25vw;
        border: none;
        box-shadow: none;
    }
    .project .icon-bar{
        height: 5vw;
        margin-top: 0;
        font-size: 3rem;
        margin-bottom: 5vw;
        margin-top: 1vw;
        padding-left: 2vw;
    }
    .projects i{
        font-size: 4rem !important;
        margin-right: 3vw;
    }
    .project .icon-bar .link{
        display: none;
    }
    .carousel-left-button,
    .carousel-right-button{
        display: none;
    }
    .foot{
        display: none;
    }
}