/* Nav Bar */
.landingNav{
    display: flex;
    align-items: center;
    height: 5.5vw;
}
.landingNav .logo{
    font-size: 2.25rem;
    font-weight: 800;
    margin-left: 1vw;
    letter-spacing: -0.025vw;
}
.landingNav i{
    font-size: 1.5rem;
    margin-top: 0.4vw;
    margin-left: 0.6vw;
}
.landingNav .links{
    font-size: 1.1rem;
    position: absolute;
    right: 0;
}
.landingNav a{
    margin-right: 2.9vw;
}
.landingNav .button{
    padding: 0.7vw 1.5vw;
    border: 1px solid #ffffff20;
    border-radius: 0.5vw;
    background-color: #ffffff10;
}

/* Sign In Form */
.register{
    margin-top: 2vw;
}
form{
    background-color: #ffffff07;
    border: 1px solid #ffffff10;
    border-radius: 0.5vw;
    padding: 2vw;
}
.register .header{
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: -0.1vw;
}
.register .error{
    position: absolute;
    font-weight: 300;
    color: rgb(223, 132, 132);
    margin-top: 0.4vw;
    margin-left: 0.5vw;
}
.register .input{
    position: relative;
    margin-top: 2vw;
}
.register .input i{
    position: absolute;
    top: 0.1vw;
    left: 0.5vw;
    font-size: 1.25rem;
    border-radius: 50%;
    padding: 0.8vw;
    background-color: #0d1117;
}
.register input{
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    width: 22vw;
    height: 3vw;
    background-color: #0d1117;
    border: 1px solid #ffffff20;
    border-radius: 0.5vw;
    padding-left: 3.5vw;
    color: white;
}
.register input:focus{
    border: 1px solid #218bff;
    outline: none;
}

.register .flex{
    justify-content: space-between;
    font-size: 1.1rem;
    align-items: center;
    margin-top: 2vw;
}
.register button{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    color: #ffffff;
    background-color: #0d1117;
    border: 1px solid #ffffff20;
    border-radius: 0.5vw;
    background-color: #ffffff10;
    width: 7vw;
    height: 3vw;
    letter-spacing: 0.05vw;
}



/* Footer */
.foot{
    position: absolute;
    bottom: 0;
    left: 0;
}

/* MOBILE */
@media (max-width: 600px) {
    .landingNav .logo{
        font-size: 4rem;
    }
    .landingNav i{
        font-size: 3rem;
        margin-top: 1vw;
    }
    .landingNav .links{
        font-size: 3.25rem;
    }
    form{
        width: 70vw;
        margin-top: 20vw;
    }
    .input i{
        font-size: 3.5rem !important;
        margin-top: 3.5vw !important;
        margin-left: 1vw !important;
        margin-right: 1vw !important;
    }
    input{
        width: 60vw !important;
        height: 8vw !important;
        padding-left: 7vw !important;
        margin-top: 2vw;
    }
    .register .error{
        font-size: 2rem;
    }
    form .flex{
        font-size: 3rem !important;
        margin-top: 5vw !important;
    }
    form button{
        font-size: 3rem !important;
        width: 14vw !important;
        height: 6vw !important;
    }

    .foot{
        width: unset;
        height: 12vw;
        gap: 0;
    }
    .foot .group{
        font-size: 3rem;
        margin-right: 4vw;
    }
    .foot i{
        font-size: 3rem !important;
    }
    .foot .link{
        font-size: 2rem;
    }
    .foot .copyright{
        display: none;
    }
}