.editor-display{
    position: fixed;
    top: 0;
    right: -2vw;
    z-index: 1;
    width: 40.65vw;
    height: 100vh;
    border-left: 1px solid #ffffff10;
    margin-top: 6vh;
}

.editor-display .label{
    position: absolute;
    top: -4vh;
    height: 4vh;
    z-index: 100;
    width: 100%;
    display: flex;
    align-items: end;
    background-color: #0e0f11;
}
.html, .css, .js{
    position: relative;
}
.editor-display p{
    display: flex;
    align-items: center;
    width: 7vw;
    height: 4vh;
    font-size: 1.25rem;
    font-weight: 600;
    background-image: linear-gradient(#1a1a1a, #0e0f11 80%);
    border-radius: 1vw 1vw 0 0; 
    gap: 0.75vw;
    padding-left: 1.25vw;
}
.html p, .html i{
    color: #ff8f8f;
}
.css p, .css i{
    color: #a7e5ff;
}
.js p, .js i{
    color: #fff6a2;
}

/* Main */
.main{
    position: relative;
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#screen{
    position: absolute;
    top: 16vw;
    left: 15.75vw;
    width: 28vw;
    height: 15.75vw;
    border: 1px solid #ffffff10;
    border-radius: 3vw;
    box-shadow: 0.25vw 0.25vw 1vw;
    overflow: hidden !important;
    transform: scale(2);
}
.details{
    height: 10vw;
    width: 60vw;
    margin-top: 40vw;
    border: 1px solid red;
}


.comments-section{
    width: 60vw;
    height: 10vw;
    background-color: white;
}