.editor-display{
    position: fixed;
    top: 0;
    right: -2vw;
    z-index: 1;
    width: 40.65vw;
    height: 100vh;
    border-left: 1px solid #ffffff10;
    margin-top: 6vh;
}

.editor-display .label{
    position: absolute;
    top: -4vh;
    height: 4vh;
    z-index: 100;
    width: 100%;
    display: flex;
    align-items: end;
    background-color: #0e0f11;
}
.html, .css, .js{
    position: relative;
}
.editor-display p{
    display: flex;
    align-items: center;
    width: 7vw;
    height: 4vh;
    font-size: 1.25rem;
    font-weight: 600;
    background-image: linear-gradient(#1a1a1a, #0e0f11 80%);
    border-radius: 1vw 1vw 0 0; 
    gap: 0.75vw;
    padding-left: 1.25vw;
}
.html p, .html i{
    color: #ff8f8f;
}
.css p, .css i{
    color: #a7e5ff;
}
.js p, .js i{
    color: #fff6a2;
}

/* Main */
.main{
    position: relative;
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#screen{
    position: absolute;
    top: 16vw;
    left: 15.75vw;
    width: 28vw;
    height: 15.75vw;
    border: 1px solid #ffffff10;
    border-radius: 3vw;
    box-shadow: 0.25vw 0.25vw 1vw;
    overflow: hidden !important;
    transform: scale(2);
}
.details{
    height: 10vw;
    width: 60vw;
    margin-top: 40vw;
    /* border: 1px solid red; */
}

.icon-bar{
    position: relative;
    font-weight: 600;
    margin-top: 0.5vw;
    padding-left: 3vw;
    font-size: 1rem;
    letter-spacing: 0;
}
.icon-bar .fa-bookmark{
    font-size: 2rem;
    color: #218bff;
    opacity: 0.4;
    cursor: pointer;
    margin-right: 1vw;
}
.icon-bar .like-bar{
    display: flex;
    align-items: center;
    background-color: #ffffff03;
    border: 1px solid #ffffff10;
    padding: 0.5vw 1vw;
    border-radius: 5vw;
}
.icon-bar .like-bar p{
    font-weight: 400;
    font-size: 0.8rem;
}
.icon-bar .fa-thumbs-up{
    font-size: 1.5rem;
    color: #ffffff;
    opacity: 0.85;
    margin-right: 0.5vw;
    cursor: pointer;
}
.icon-bar .line{
    width: 1px;
    height: 1.5vw;
    background-color: #ffffff10;
    /* border: 1px solid #ffffff10; */
    margin: 0 0.5vw;
    border-radius: 5vw;
}
.icon-bar .fa-eye{
    font-size: 1.25rem;
    margin-right: 0.5vw;
    opacity: 0.85;
}
.icon-bar .selected{
    opacity: 1;
}
.icon-bar .project-title{
    margin-left: 1vw;
}

.user-card{
    position: absolute;
    top: 1vw;
    right: 3vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 22vw;
    height: 7vw;
    border: 1px solid #ffffff10;
    background-color: #ffffff03;
    border-radius: 1vw;
    margin-left: 2vw;
}
.icon{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user-card i{
    font-size: 4rem;
}
.upload-link{
    font-size: 0.8rem;
    cursor: pointer;
    margin-top: 1vw;
}
.user-card .username{
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 1vw;
}
.follows{
    font-size: 0.8rem;
    font-weight: 300;
}
.follows i{
    font-size: 1rem;
}
.fa-users{
    margin-right: 0.25vw;
}
.follow-button{
    width: 4.5vw;
    background-color: #ffffff07;
    border: 1px solid #ffffff10;
    border-radius: 5vw;
    padding: 0.35vw .75vw;
    margin-left: 1vw;
    cursor: pointer;
}
.follow{
    font-weight: 500;
    margin-left: 0.25vw;
}
.disabled{
    opacity: 0.4;
}
.hide{
    display: none;
}



.comments-section{
    width: 50vw;
    height: 100vw;
    /* border: 1px solid white; */
    margin-top: -3vw;
}
.comments-section .header i{
    display: flex;
    font-size: 2.25rem;
    margin-right: 1vw;
}
.comments-section .header p{
    font-size: 1.25rem;
    font-weight: 600;
}
form{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 1.5vw;
    opacity: 0.85;
}
.comments-section input{
    width: 100%;
    background-color: transparent;
    color: #ffffff;
    border: none;
    border-bottom: 0.15vw solid #ffffff30;
    font-family: 'Open Sans', sans-serif;
    outline: none;
    padding-left: 1vw;
}
.comments-section button{
    background-color: transparent;
    color: #ffffff;
    font-size: 0.9rem;
    opacity: 0.4;
    border: none;
    font-family: 'Open Sans', sans-serif;
    outline: none;
    transition: opacity 0.15s ease;
}
.comments-section .comment-input{
    margin-left: -1vw;
    /* width: 52vw; */
}
.comments-section button:hover{
    opacity: 0.85;
}
.comment{
    font-weight: 300;
    margin-bottom: 2vw;
}
.comment .stamp{
    font-size: 0.8rem;
    /* font-weight: 400; */
}
.comment .username{
    font-weight: 700;
    margin-right: 0.5vw;
}
.comment .comment-content{
    margin-top: 0.25vw;
}
.comment .button-bar{
    margin-top: 0.5vw;
}
.comment .fa-thumbs-up{
    cursor: pointer;
}
.comment .line{
    width: 0.1vw;
    height: 1vw;
    background-color: #ffffff30;
    /* background-color: red; */
    margin-left: 0.5vw;
    margin-right: 0.5vw;
}
.comment .button-bar p{
    font-size: 0.8rem;
    cursor: pointer;
    transition: opacity .15s ease;
}
.comment .button-bar p:hover{
    opacity: 0.85;
}
.comment i{
    margin-right: 0.25vw;
}