/* index.css */

*{
    
}
.foot {
    position: absolute;
    bottom: 0;
}


/* Nav Bar */
.landingNav{
    display: flex;
    align-items: center;
    height: 5.5vw;
}
.landingNav .logo{
    font-size: 2.25rem;
    font-weight: 800;
    margin-left: 1vw;
    letter-spacing: -0.025vw;
}
.landingNav i{
    font-size: 1.5rem;
    margin-top: 0.4vw;
    margin-left: 0.6vw;
}


/* Contact section */
.contact{
    display: flex;
    justify-content: center;
}
form{
    display: flex;
    flex-direction: column;
    width: 50vw;
}
.contact .header{
    font-size: 6rem;
    font-weight: 700;
    letter-spacing: -0.1vw;
    line-height: 7vw;
}
.contact .header2{
    font-size: 2rem;
    margin-bottom: 2vw;
}
input{
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    width: 22vw;
    height: 3vw;
    background-color: #0d1117;
    border: 1px solid #ffffff20;
    border-radius: 0.5vw;
    padding-left: 1vw;
    color: white;
    margin-bottom: 1.5vw;
}
input:focus{
    border: 1px solid #218bff;
    outline: none;
}
textarea{
    height: 7vw;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    background-color: #0d1117;
    border: 1px solid #ffffff20;
    border-radius: 0.5vw;
    padding-left: 1vw;
    color: white;
    resize: none;
    padding-top: 1vw;
    margin-bottom: 1.5vw;
}
textarea:focus{
    border: 1px solid #218bff;
    outline: none;
}
button{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    color: #ffffff;
    background-color: #0d1117;
    border: 1px solid #ffffff20;
    border-radius: 0.5vw;
    background-color: #ffffff10;
    width: 7vw;
    height: 3vw;
    letter-spacing: 0.05vw;
}
.buttonContainer{
    display: flex;
    justify-content: end;
}


/* MOBILE */
@media (max-width: 600px) {
    .landingNav .logo{
        font-size: 4rem;
    }
    .landingNav i{
        font-size: 3rem;
        margin-top: 1vw;
    }
    .landingNav .links{
        font-size: 3.25rem;
    }
    .header2{
        font-size: 4rem !important;
    }
    form{
        width: 64vw;
        margin-top: 20vw;
    }
    .input i{
        font-size: 3.5rem !important;
        margin-top: 3.5vw !important;
        margin-left: 1vw !important;
        margin-right: 1vw !important;
    }
    input{
        width: 60vw !important;
        height: 8vw !important;
        padding-left: 4vw !important;
        margin-top: 2vw;
    }
    textarea{
        width: 60vw;
        height: 20vw;
        padding-left: 4vw !important;
    }
    .register .error{
        font-size: 2rem;
    }
    form .flex{
        font-size: 3rem !important;
        margin-top: 5vw !important;
    }
    form button{
        font-size: 3rem !important;
        width: 14vw !important;
        height: 6vw !important;
    }

    .foot{
        width: 100%;
        height: 12vw;
        gap: 0;
    }
    .foot .group{
        font-size: 3rem;
        margin-right: 4vw;
    }
    .foot i{
        font-size: 3rem !important;
    }
    .foot .link{
        font-size: 2rem;
    }
    .foot .copyright{
        display: none;
    }
}