<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="icon" href="{% static 'assets/icon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.2.1/css/all.css">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/bookmarks.css' %}">

</head>

<body onload="getProjects()">
    <!-- Nav Bar -->
    <div class="nav">
        <a href="/TrixEx.com/home" class="logo">
            <i class="fa-solid fa-code"></i>
        </a>
        <!-- <form action="/">
            <input type="search">
            <button type="submit">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form> -->
        <div class="icons">
            <a href="/TrixEx.com/home" class="icon">
                <i class="fa-solid fa-house"></i>
                <p class="">Home</p>
            </a>
            <a href="/TrixEx.com/folder{{user.id}}/{{user.username}}" class="icon folder-icon">
                <i class="fa-regular fa-folder-open"></i>
                <p>Folder</p>
            </a>
            <a href="/TrixEx.com/bookmarks" class="icon">
                <i class="fa-solid fa-bookmark selected"></i>
                <p class="selected">Saved</p>
            </a>
            <a href="/TrixEx.com/create" class="icon create-icon">
                <i class="fa-solid fa-cloud-arrow-up"></i>
                <p>Create</p>
            </a>
        </div>
        <div class="username">
            <p class="welcome"><span class="dark">Welcome,</span> <a href="/TrixEx.com/folder{{user.id}}/{{user.username}}" class="blue">{{user.username}}</a></p>
            <a href="/TrixEx.com/logout" class="icon logout-icon">
                <i class="fa-solid fa-right-from-bracket"></i>
                <p class="logout">Logout</p>
            </a>
        </div>
    </div>

    
    <!-- Projects -->
    <div class="projects">
        {% if not projects %}
        <p class="empty-message"><i class="fa-solid fa-bookmark selected"></i>Bookmark projects to send them here.</p>
        {% endif %}
        {% for project in projects %}
        <div class="project">
            <iframe data-project-id="{{project.id}}"></iframe>
            <div class="icon-bar vCenter">
                {% if project.id in bookmarked_projectIds_set %}
                <i class="fa-solid fa-bookmark selected" data-bookmark-projectId="{{project.id}}" data-is-bookmarked="1"
                    onclick="toggleBookmark({{project.id}})"></i>
                {% endif %}
                {% if project.id not in bookmarked_projectIds_set %}
                <i class="fa-regular fa-bookmark" data-bookmark-projectId="{{project.id}}" data-is-bookmarked="0"
                    onclick="toggleBookmark({{project.id}})"></i>
                {% endif %}
                {% if project.id in liked_projectIds_set %}
                <i class="fa-solid fa-thumbs-up" data-like-projectId="{{project.id}}" data-is-liked="1"
                    onclick="toggleLike({{project.id}})"></i>
                {% endif %}
                {% if project.id not in liked_projectIds_set %}
                <i class="fa-regular fa-thumbs-up" data-like-projectId="{{project.id}}" data-is-liked="0"
                    onclick="toggleLike({{project.id}})"></i>
                {% endif %}
                <a class="blue" href="/TrixEx.com/folder{{project.owner.id}}/{{project.owner.username}}">{{project.owner.username}}</a>
                <a href="/TrixEx.com/view/{{project.id}}" class="link">View Code <i class="fa-solid fa-angles-right green"></i></a>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Footer -->
    <div class="foot vCenter">
        <div>
            <div class="flex vCenter group">
                <i class="fa-brands fa-linkedin"></i>
                <p>Connect with us</p>
            </div>
            <p class="link"><a class="orange" href="https://www.linkedin.com/company/trixex/" target="_blank">Follow</a> us on LinkedIn</p>
        </div>
        <div>
            <div class="flex vCenter group">
                <i class="fa-solid fa-envelope"></i>
                <p>Support</p>
            </div>
            <p class="link"><a class="orange" href="/TrixEx.com/support" target="_blank">Report</a> an issue</p>
        </div>
        <div>
            <div class="flex vCenter group">
                <i class="fa-brands fa-github"></i>
                <p>Source Code</p>
            </div>
            <p class="link"><a class="orange" href="https://github.com/woox99/TrixEx-2.0" target="_blank">Github</a> or it didn't happen</p>
        </div>
        <p class="copyright">© 2024 TrixEx</p>
    </div>
    <script src="{% static 'js/bookmarks.js' %}"></script>
</body>

</html>