<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TrixEx - Login</title>
    {% load static %}
    <link rel="icon" href="{% static 'assets/icon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.2.1/css/all.css">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>

<body>
    <!-- Nav Bar -->
    <div class="landingNav">
        <a href="/TrixEx.com" class="logo flex vCenter">
            <p class="logo green">TrixEx</p>
            <i class="fa-solid fa-code"></i>
        </a>
        <div class="links">
            <a class="blue" href="/TrixEx.com/demo">Demo Account</a>
            <a href="/TrixEx.com/login">Sign In</a>
            <a class="button smooth-scroll" href="/TrixEx.com#registerSection">Sign Up</a>
        </div>
    </div>

    <!-- Sign In Form -->
    <div class="hCenter signIn">
        <form action="/TrixEx.com/login" method="POST">
            {% csrf_token %}
            <p class="header blue">Sign In</p>
            {% if email_error %}
            <p class="error">{{email_error}}</p>
            {% endif %}
            <div class="input">
                <i class="fa-solid fa-envelope"></i>
                <input type="text" name="email" value="{{email}}" placeholder="Email">
            </div>
            {% if password_error %}
            <p class="error">{{password_error}}</p>
            {% endif %}
            <div class="input">
                <i class="fa-solid fa-lock"></i>
                <input type="password" name="password" value="{{password}}" placeholder="Password">
            </div>
            <div class="flex">
                <p>Not a member? <a class="blue" href="/TrixEx#registerSection">Sign Up</a></p>
                <button type="submit">Login</button>
            </div>
        </form>
    </div>

    <!-- Footer -->
    <div class="foot vCenter">
        <div>
            <div class="flex vCenter group">
                <i class="fa-brands fa-linkedin"></i>
                <p>Connect with us</p>
            </div>
            <p class="link"><a class="blue" href="https://www.linkedin.com/company/trixex/" target="_blank">Follow</a> us on LinkedIn</p>
        </div>
        <div>
            <div class="flex vCenter group">
                <i class="fa-solid fa-envelope"></i>
                <p>Support</p>
            </div>
            <p class="link"><a class="blue" href="/TrixEx.com/support" target="_blank">Report</a> an issue</p>
        </div>
        <div>
            <div class="flex vCenter group">
                <i class="fa-brands fa-github"></i>
                <p>Source Code</p>
            </div>
            <p class="link"><a class="blue" href="https://github.com/woox99/TrixEx-2.0" target="_blank">Github</a> or it didn't happen</p>
        </div>
        <p class="copyright">© 2024 TrixEx</p>
    </div>
</body>

</html>